.drag-handle {
    cursor: move;
    cursor: grab;
}

.drag-handle:active {
    cursor: grabbing;
}

.draggable-item.dragging {
    opacity: 0.5;
    background-color: #f3f3f3;
    position: relative;
    z-index: 1;
}